.auth_all{

  padding: 0 30%; 
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



@media only screen and (max-width: 1110px) {
.auth_all{
    padding: 0 10%;
}
}