.shifts_all{
    padding: 0 30%; 
    margin-top: 50px; 
}

.view_all_shift{
    padding: 0 10%;
    margin-top: 50px; 
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

table, th, td {
    border: 1px solid #fff;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #0064F7;
    color: #fff;
}

@media only screen and (max-width: 1110px) {
    .shifts_all{
        padding: 0 10%;
    }
    }